html {
  height: 100%;
}

body {
  min-height: 100%;
}

* {
  box-sizing: border-box;

  // Safari iOS: Prevent flash when clicking on an SVG.
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;

  // Disable the 'Cut / Copy / Paste' on Safari iOS.
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: $font-sans;
  font-weight: $font-weight;
  letter-spacing: 0.5px;
}

.btn--reset {
  margin-top: 10px;
}

a {
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

ol,
ul {
  margin: 10px 0 10px 0;
}
