.canvas {
  border: 1px solid $canvas-border-color;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.point {
  cursor: move;
  fill: $point-color;
  fill-opacity: 0; // Transparent fill so it's easier to drag.
  stroke: $point-color;
}

.parallelogram {
  fill: none;
  stroke: $parallelogram-color;
}

.parallelogram__circle {
  fill: none;
  stroke: $parallelogram-circle-color;
}
