.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.header {
  grid-column: span 5 / auto;
}

.navigation {
  align-self: center;
  padding-right: 5px;
  text-align: right;
}

.canvas__container {
  grid-column: span 5 / auto;
  height: 70vh;
}

.info {
  min-width: 220px;
  max-width: 250px;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

@media screen and (max-width: $breakpoint-xs) {
  .canvas__container {
    grid-column: span 6 / auto;
    height: 50vh;
  }
}
